---
import Layout from '../layouts/Layout.astro';
import Sections from '../components/SectionsCards.astro';
import SectionVideos from '../components/SectionVideos.astro';
import CardLeft from '../components/CardLeft.astro';
import CardRight from '../components/CardRight.astro';
---

<Layout title="Programación funcional">
	<Sections>
		<CardLeft>
			<!-- Fernando -->
			<div class="h-full border-2 border-black">
				<h2 style="font-size: 24px; margin-bottom: 10px;">Programación Funcional</h2>
				<p style="font-size: 16px; line-height: 1.5;">
				  La programación funcional es un enfoque para escribir código donde se utilizan principalmente funciones matemáticas para resolver problemas. 
				  En lugar de modificar valores o cambiar el estado de un programa como en otros paradigmas, la programación funcional se enfoca en usar 
				  funciones puras, lo que significa que una función siempre dará el mismo resultado si se le dan los mismos valores.
				</p>
			  </div>
			<div class="h-full border-2 border-black" >
				<img src="/Img-Prog.jpg" alt="Imagen 1" width="300" height="150">
			</div>
		</CardLeft>
		<CardRight>
			<!-- Denisse -->
			<div class="h-full border-2 border-black">
				<img src="/Img-Fund.webp" alt="Imagen 1" width="500" height="150">
			</div>
			<div class="h-full border-2 border-black" >
				<h3 style="font-size: 24px; margin-bottom: 10px;">Funciones como valores:</h3>
				<p style="font-size: 16px; line-height: 1.5;">
					Las funciones se tratan como si fueran datos, lo que permite pasarlas como argumentos a otras funciones o devolverlas como resultados.
				</p>
				<h4 style="font-size: 24px; margin-bottom: 10px;">Inmutabilidad:</h4>
				<p style="font-size: 16px; line-height: 1.5;">
					Los datos no se cambian una vez que se han creado. Si se necesita modificar algo, en lugar de cambiar el valor original, se crea uno nuevo con los cambios.
				</p>
				<h5 style="font-size: 24px; margin-bottom: 10px;">Funciones puras:</h5>
				<p style="font-size: 16px; line-height: 1.5;">
					Una función pura no tiene efectos secundarios, es decir, no modifica nada fuera de su entorno ni depende de nada fuera de sus argumentos.
				</p>
				<h5 style="font-size: 24px; margin-bottom: 10px;">Composición de  funciones:</h5>
				<p style="font-size: 16px; line-height: 1.5;">
					Se pueden combinar funciones pequeñas para formar otras más grandes y complejas, lo que fomenta la reutilización de código.
				</p>
				<h5 style="font-size: 24px; margin-bottom: 10px;">Pensamiento matemático</h5>
				<p style="font-size: 16px; line-height: 1.5;">
					Se basa en el pensamiento matemático y en el principio de función. 
				</p>
			</div>
		</CardRight>
	</Sections>
	<Sections>
		<CardLeft>
			<!-- Jose -->
			<div class="h-full border-2 border-black">
				Fernando
			</div>
			<div class="h-full border-2 border-black" >
				Imagen
			</div>
		</CardLeft>
		<CardRight>
			<!-- Edgar -->
			<div class="h-full border-2 border-black">
				Imagen
			</div>
			<div class="h-full border-2 border-black" >
				Fernando
			</div>
		</CardRight>
	</Sections>
	<Sections>
		<CardLeft>
			<!-- Karen -->
			<div class="h-full border-2 border-black">
				Imagen
			</div>
			<div class="h-full border-2 border-black" >
				Fernando
			</div>
		</CardLeft>
	</Sections>
	<SectionVideos>
		<div class="border-4 h-60 bg-black" >
			<!-- Video 1 -->
			
		</div>
		<div class="border-4 h-60 bg-black" >
			<!-- Video 2 -->
			 
		</div>
		<div class="border-4 h-60 bg-black" >
			<!-- Video 3 -->

		</div>
	</SectionVideos>
</Layout>
