---
import Layout from '../layouts/Layout.astro';
import Sections from '../components/SectionsCards.astro';
import SectionVideos from '../components/SectionVideos.astro';
import CardLeft from '../components/CardLeft.astro';
import CardRight from '../components/CardRight.astro';
---

<Layout title="Programación funcional">
	<Sections>
		<CardLeft>
			<!-- Fernando -->
			<div class="h-full border-2 border-black">
				Fernando
			</div>
			<div class="h-full border-2 border-black" >
				Imagen
			</div>
		</CardLeft>
		<CardRight>
			<!-- Denisse -->
			<div class="h-full border-2 border-black">
				Imagen
			</div>
			<div class="h-full border-2 border-black" >
				Fernando
			</div>
		</CardRight>
	</Sections>
	<Sections>
		<CardLeft>
			<!-- Jose -->
			<div class="h-full border-2 border-black">
				Fernando
			</div>
			<div class="h-full border-2 border-black" >
				Imagen
			</div>
		</CardLeft>
		<CardRight>
			<!-- Edgar -->
			<div class="h-full border-2 border-black">
				Imagen
			</div>
			<div class="h-full border-2 border-black" >
				Fernando
			</div>
		</CardRight>
	</Sections>
	<Sections>
		<CardLeft>
			<!-- Karen -->
			<div class="h-full border-2 border-black">
				Imagen
			</div>
			<div class="h-full border-2 border-black" >
				Fernando
			</div>
		</CardLeft>
	</Sections>
	<SectionVideos>
		<div class="border-4 h-60 bg-black" >
			<!-- Video 1 -->
			
		</div>
		<div class="border-4 h-60 bg-black" >
			<!-- Video 2 -->
			 
		</div>
		<div class="border-4 h-60 bg-black" >
			<!-- Video 3 -->

		</div>
	</SectionVideos>
</Layout>
